# Dependency directories
node_modules/
**/node_modules/

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
.env.staging

# IDEs and editors
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
